<div class="container-fluid">



<!--
  <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #FFFFFF;">
    <div class="container">
      <div class="navbar-header">
            <a class="navbar-brand" routerLink="/dico" routerLinkActive="active">Dico JdM</a>
      </div>


      <div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="navbar-brand"  routerLink="/tuto" routerLinkActive="active">Tuto</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
-->

<div class="jumbotron container-fluid" alt="banner">
  <h1>Dico Jeux De Mots</h1>
</div>


  <router-outlet></router-outlet>

  <footer>
    <p>Dico Jeux De Mots</p>
    <p>FrontEnd : Angular2 TS Bootstrap JQuery</p>
    <p>Backend : Neo4J MySql NodeJS </p>
    <p>@ouWaSav @lortole </p>
  </footer>




<!--
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


<br><br><br><br><br><br>

<header id="fh5co-header" role="banner">
  <div class="container">
    <div class="header-inner">
      <h1><a href="index.html">Flew</a></h1>
      <nav role="navigation">
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li class="cta"><a href="#">Get started</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>




-->


</div>
